{% extends 'chess_app/base/base.html' %}
{% load static %}

{% block stylesheets %}
  <link type="text/css" href="{% static 'chess_app/css/menu.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
  <div class="left-menu">
    <div class="top-menu-container">
      <a class="menu-item menu-item-top" href="">
        <div class="menu-icon-left">
          <i class="fa-solid fa-magnifying-glass-plus icon-white"></i>
        </div>
        <div class="menu-item-text">Play</div>
      </a>
      <a class="menu-item menu-item-top" href="{% url 'chess_app:board' %}">
        <div class="menu-icon-left">
          <img src="{% static 'chess_app/img/icons/board.png' %}" class="png-icon-board" />
        </div>
        <div class="menu-item-text">Board</div>
      </a>
      <a class="menu-item menu-item-top" href="">
        <div class="menu-icon-left">
          <i class="fa-solid fa-question icon-white" style="font-size: 120%;"></i>
        </div>
        <div class="menu-item-text">About</div>
      </a>
    </div>

    <div class="bottom-menu-container">
      {% if user.is_authenticated %}
        <a class="menu-item menu-item-bottom" href="">
          <div class="menu-icon-left">
            <i class="fa-solid fa-chess-pawn icon-green" style="font-size: 130%;"></i>
          </div>

          <div class="menu-item-text menu-username">{{ user.get_username }}</div>
        </a>
        <a class="menu-item menu-item-bottom" href="{% url 'chess_app:log-out' %}">
          <div class="menu-icon-left">
            <i class="fa-solid fa-plug-circle-xmark icon-red" style="font-size: 120%; padding-left: 4px"></i>
          </div>

          <div class="menu-item-text">Log out</div>
        </a>
      {% else %}
        <a class="menu-item menu-item-bottom" href="{% url 'chess_app:log-in' %}">
          <div class="menu-icon-left">
            <i class="fa-solid fa-right-to-bracket"></i>
          </div>

          <div class="menu-item-text">Log In</div>
        </a>
        <a class="menu-item menu-item-bottom" href="{% url 'chess_app:sign_up' %}">
          <div class="menu-icon-left">
            <i class="fa-solid fa-right-to-bracket"></i>
          </div>

          <div class="menu-item-text">Sign up</div>
        </a>
      {% endif %}
    </div>
  </div>
  <div class="right-container">
    {% block right_container %}

    {% endblock %}
  </div>
{% endblock %}
