{% load static %}
<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <meta name="google" value="notranslate" />
  <html lang="en" class="notranslate" translate="no"></html>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:wght@200;300;400;500;700;900&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/514f4ad9da.js" crossorigin="anonymous"></script>
  <script src="{% static 'chess/js/modules/jquery-3.7.1.min.js' %}"></script>
  <link type="text/css" href="{% static 'chess/css/base.css' %}" rel="stylesheet" />

  {% block stylesheets %}

  {% endblock %}

  <title>
    {% block title %}
      base page
    {% endblock %}
  </title>

  {% block js_import %}

  {% endblock %}
</head>

<body>
  <div class="main-container">
    {% block body %}
      <p>This is base page</p>
    {% endblock %}
  </div>
</body>
