@import url('colors.css');

HTML {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0px;
    background-color: var(--v_grey_background);
    color: white;

    font-size: 18px;
    font-family: 'Roboto', normal;
    font-weight: 500;
    line-height: 1.6;
}

.main-container {
    display: flex;
    min-height: 100vh;
}

span {
    user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--right-menu-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--right_menu_button_background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

button {
    all: unset;
    background-color: var(--v_grey_addit_menu);
    color: var(--not_active_text_lighter1);
}

button:hover {
    background-color: var(--right_menu_button_active_background);
    color: var(--v_white_text);
    cursor: pointer;
}