@import url('colors.css');

button {}

.big-button {
    background-color: var(--v_green);
    border-radius: 10px;
    color: white;
    padding: 5px;
    flex: 1;
    font-size: 18px;
    border: none;
    box-shadow: 0 3px var(--v_green_shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-button:hover {
    background-color: var(--v_dark_green);
    cursor: pointer;
}

.big-button:active {
    background-color: var(--v_dark_green);
    box-shadow: 0 3px var(--v_green_shadow);
    transform: translateY(2px);
}

#cancel_button {
    background-color: white;
    color: black;
    box-shadow: 0 3px var(--v_grey_input_background);
    display: none;
}