:root {
    --v_grey_background: #302E2B;
    --v_grey_left_menu: #262522;
    --v_grey_addit_menu: #141413;
    --v_green: #81B64C;
    --v_dark_green: #6c993f;
    --v_green_shadow: #45753C;
    --v_white_text: #FFFFFF;
    --v_grey_text: #8C8B89;
    --v_grey_input_background: #3C3B39;

    --timer_black_not_active: #141413;
    --timer_black_not_active_text: #82817F;
    --timer_black_active: #000000;
    --timer_white_not_active: #989795;
    --timer_white_not_active_text: #82817F;
    --timer_white_active: #ffffff;

    --chess_board_light_squares: white;
    --chess_board_dark_squares: #81B64C;
    --chess_board-light_squares_shadow: #e9e9e9;
    --chess_board-dark_squares_shadow: #e9e9e9;
    --promoted_squares_background: #e9e9e9;

    --right-menu-background: #262522;
    --right_menu_button_background: #141413;
    --right_menu_button_active_background: #262522;
    --right-menu-notation-move-number: #262522;
    --not_active_text_dark: #82817F;
    --not_active_text_lighter1: #989795;
    --not_active_text_lighter2: #b4b3b0;
    --notation_hover_background: #474747;

}