@import url('colors.css');

.board-view-column {
    background-color: var(--v_grey_background);
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.empty-column-board-left {
    flex: 1;
    display: flex;
    max-width: 250px;
    min-width: 10px;
}

.empty-column-board-right {
    flex: 1;
    display: flex;
    max-width: 40px;
    min-width: 5px;
}

.board-black-row {
    display: flex;
    height: 60px;
    background-color: green;
}

.board-chess-board-row {
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.board-white-row {
    display: flex;
    height: 60px;
    background-color: yellow;
    justify-content: center;
}

.right-menu-column {
    background-color: var(--v_grey_addit_menu);
    flex: 1;
}

#chessboard {
    display: flex;
    flex-direction: row;
    background-color: var(--v_dark_green);
    width: 700px;
    height: 700px;
    flex-wrap: wrap;
}

.chess-square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-square {
    background-color: var(--v_green);
}

.light-square {
    background-color: white;
}

.dark-square-shadow {
    box-shadow: 0px 0px 0px 4px var(--chess_board-dark_squares_shadow) inset;
}

.light-square-shadow {
    box-shadow: 0px 0px 0px 4px var(--chess_board-light_squares_shadow) inset;
}

.piece-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece-size {
    height: 100%;
    width: 100%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: grab;
}

.piece-dummy {
    position: fixed;
}

.piece-dummy:hover {
    cursor: grabbing !important;
}

.move-hint-empty {
    height: 25%;
    width: 25%;
    color: #bbb;
    background-color: green;
    opacity: 50%;
    border-radius: 50%;
}

.move-hint-eat-piece {
    height: 25%;
    width: 25%;
    color: #bbb;
    background-color: green;
    opacity: 50%;
    border-radius: 50%;
}

.move-hint-eat-piece2 {
    border-radius: 30%;
    border-color: black;
}

.div-buttons-wrapper {
    display: flex;
    position: fixed;
    flex-direction: column;
}

.chess-promoted-button {
    background-color: var(--promoted_squares_background);
}